body{
    margin: 0px;
    padding: 0px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.container{
    width: 100vw;
    position: absolute;
    background-color: #ffff;
    display: flex;
}

.fondo{
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.trampaT{
    position: absolute;
    height: 10vh;
    width: 80vw;
    background-color: #0e3a6f55;
    transform: translate(10vw, 0vh);
}
.trampaR{
    height: 100vh;
    width: 10vw;
    background-color: #0e3a6f55;
    transform: translate(90vw, 0vh);
    position: fixed;
}
.trampaB{
    position: absolute;
    height: 10vh;
    width: 80vw;
    background-color: #0e3a6f55;
    transform: translate(10vw, 90vh);
    position: fixed;
}
.trampaL{
    height: 100vh;
    width: 10vw;
    background-color: #0e3a6f55;
    position: fixed;
}

.caratula{
    width: 60vw;
    min-height: 60vh;
    background-color: #ffffff;
    margin: 10vh 10vw 20vh 10vw;
    border: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 10vh 10vw;
    position: absolute;
    z-index: 111;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.cabecera{
    margin-bottom: 30vh;
}

.participantes{
    margin-bottom: 30vh;
}

h2{
    color: #000000;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-out 0s;
    margin: 20px 20px 20px 0px;
}

h4{
    color: #000000;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-out 0s;
    margin: 20px 20px 20px 0px;
}

h5{
    color: #000000;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-out 0s;
    margin: 20px 20px 20px 0px;
}

ul{
    text-align: left;
    font-family: "le-monde-livre-std",serif;
    color: #202020;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

p{
    text-align: left;
    font-family: "le-monde-livre-std",serif;
    color: #202020;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

.persona{
    text-align: center;
}


.navEnd{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tituloSeccion{
    color: #E83C38;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-out 0s;
    margin: 20px 20px 20px 0px;
}