body{
    margin: 0px;
    padding: 0px;
}

.fondo{
    height: 100vh;
    width: 100vw;
}

.trampaT{
    position: absolute;
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.801);
}
.trampaR{
    position: absolute;
    height: 80vh;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.801);
    transform: translate(90vw, 10vh);
}
.trampaB{
    position: absolute;
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.801);
    transform: translate(0vw, 90vh);
}
.trampaL{
    position: absolute;
    height: 80vh;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.801);
    transform: translate(0vw, 10vh);
}

.caratula{
    width: 70vw;
    height: 70vh;
    background-color: #ffffff;
    margin: 10vh 10vw;
    border: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 5vh 5vw;
    position: absolute;
    z-index: 111;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.container{
    width: 100vw;
    position: absolute;
    background-color: #ffff;
    display: flex;
}


a{
    text-decoration: none;
    color: black;
    cursor: default;
}